
/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

/* CSS Reset */

* {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image:url(https://wallpaperstock.net/fresas-wallpapers_24817_1920x1200.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
}

/* Navigation */

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  box-shadow: black;
  width: 140px;
  margin-left: 20px;
}

.logo:hover{
  cursor: pointer;
  transition: .3s;
  transform: scale(1.2);
}

.bar-btn{
  font-size: 25px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, .95);
  text-align: center;
  transition: all .5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
} 

.nav-menu li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color: rgb(255, 123, 0);
  transition: .3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

/* Banner text */

.banner-text {
  padding:0 30px;
  margin-top: 150px;
  text-align: center;
  color: white;
}

.banner-text h1 {
  text-shadow: 3px 5px black; 
  font-size: 60px;
  margin-bottom: 30px;
}

.banner-text span{
  text-shadow: 3px 5px black;
  color: rgb(255, 81, 0);
}

.banner-text h2{
  text-shadow: 3px 5px black;
  font-size: 40px;
  font-weight:  600;
}

.button1 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.button1:hover{
  background-color: white;
  color: red;
  transition: .5s;
}

.button2 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: white;
  color: red;
  border-radius: 5px;
}

.button2:hover{
  background-color: red;
  color: white;
  transition: .5s;
}

/* Responsive for desktop */
@media (max-width: 499px)  { 
  .button1 {
  display: none;
  }
  .button2 {
    display: none;
  }
}
@media screen and (min-width: 768px){
  .logo {
    margin-left: 50px;
  }

  nav{
    height: 100px;
  }

  .bar-btn{
    display: none;
  }

  .nav-menu{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }

  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }

  .nav-menu li a {
    font-size: 12px;
  }

  .banner-text h1{
    font-size: 70px;
    margin-bottom: 30px;
  }
  
  .banner-text h2{
    font-size: 50px;
  }
}